<h1><a href="<%= @post.url %>"><%= @post.title %></a></h1>

<h2>from <span><%= @post.feed.title %></span> by <span><%= @post.author %></span></h2>

<p><%= @post.body %></p>

<hr/>

<div class="controls">
	<a href="/posts/<%= @post.id %>/update?rating=thumbs_up">Thumbs up</a> |
	<a href="/posts/<%= @post.id %>/update?rating=meh">Meh</a> |
	<a href="/posts/<%= @post.id %>/update?rating=thumbs_down">Thumbs down</a> |
	<a href="/posts/<%= @post.id %>/update?rating=no_opinion">No opinion</a>
</div>

