<h1><a href="<%= @post.url %>"><%= @post.title %></a></h1>

<h2>
	from <span><%= @post.feed.title %></span>
	<% unless @post.author.blank? %>
		by <span><%= @post.author %></span>
	<% end %>
</h2>

<div class="post-body"><%= @post.body %></div>

<hr/>

<div class="controls">
	<a href="/posts/<%= @post.id %>/update?rating=thumbs_up">Thumbs up</a> |
	<a href="/posts/<%= @post.id %>/update?rating=meh">Meh</a> |
	<a href="/posts/<%= @post.id %>/update?rating=thumbs_down">Thumbs down</a> |
	<a href="/posts/<%= @post.id %>/update?rating=no_opinion">No opinion</a>
</div>

